<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todolist</title>

    <script src="./static/vue.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <style>
        .text {
            font-size: 14px;
        }

        .item {
            margin-bottom: 18px;
        }

        .clearfix:after {
            display: table;
            content: "";
        }

        .clearfix:after {
            clear: both
        }

        .box-card {
            width: 480px;
            margin: 20px 400px;
        }

        .left {
            float: left;
            width: 50%;
        }

        .right {
            float: right;
            width: 50%;
        }

</style>
</head>
<body>

    <div id="todolist">
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span>TodoList</span>
                <input  id="waitInput" v-on:keyup.enter="todoEnter"
                        style="margin-left: 20px; width: 250px;"
                        v-model="waitInput"
                        placeholder="请输入待办事项"
                />
                <el-button
                        style="float: right;
                        padding: 3px 0"
                        type="text"
                        v-on:click="todoEnter">添加待办
                </el-button>

            </div>
            <div class="left">
                <div style="text-align: center; margin-bottom: 10px; color: red;">待办</div>

                <div v-for="(todo, index) in todoThings" class="text item">
                    <input  v-on:click="moveThings(index, todoThings)"
                            style="margin-right: 15px;"
                            type="checkbox"
                            v-model="currentThing"
                            />{{ todo }}
                    <img v-on:click="delThing(index, todoThings)"
                         style="width: 30px; height: 20px; float: right;
                         margin-right: 30px"
                         src="./delete.png"/>
                </div>
            </div>

            <div class="right">
                <div style="text-align: center; margin-bottom: 10px; color: green;">已办</div>
                <div v-for="(done, index) in doneThings" class="text item">
                    <input  v-on:click="moveThings(index, doneThings)"
                            style="margin-right: 15px;"
                            type="checkbox"
                            />{{ done }}
                    <img v-on:click="delThing(index, doneThings)"
                         style="width: 30px; height: 20px; float: right;
                         margin-right: 30px"
                         src="./delete.png"/>
                </div>
            </div>
        </el-card>
    </div>

    <script>
        new Vue({
            el: "#todolist",
            data: {
                waitInput: "",
                currentThing: "",
                checked: true,
                todoThings: ['写代码', '五道口吃火锅', '超市买鸡蛋', '图书馆看书', '看电影', '看演唱会', '游泳', '跑步'],
                doneThings: ['看书', '写博客', '散步', '与朋友聊天', '打电话给父母']
            },
            methods: {
                todoEnter: function () {
                    if ( this.waitInput ) {
                        this.todoThings.push(this.waitInput);
                        this.waitInput = "";
                    }
                },
                moveThings: function (index, currentlist) {
                    event.currentTarget.checked = false;
                    let spliceList = currentlist === this.todoThings ? this.todoThings : this.doneThings;
                    let pushList = spliceList === this.todoThings ? this.doneThings : this.todoThings;
                    let thing = currentlist[index];
                    spliceList.splice(index, 1);
                    pushList.push(thing);

                },
                delThing: function (index, currentlist) {
                    if ( currentlist === this.todoThings ) {
                        this.todoThings.splice(index, 1);
                    } else {
                        this.doneThings.splice(index, 1);
                    }
                }
            }
        })
    </script>
</body>
</html>