<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="content-Type" charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>
<input type="text" id="name"><span style="color: red"></span>
{#<button id="b1">提交</button>#}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="/static/ajax_setup.js"></script>

<script>
    $('#name').blur(function () {
        {#var _this = $(this)#}
        $.ajax({
            url: '/check/',
            type: 'post',
            data: {
                xxx: $('#name').val()
            },
            success:  (res) => {
                console.log(res)
               {#_this.next().text(res)#}
               $(this).next().text(res)
            }
        })
    }).focus(function () {
         $(this).next().text('')
    })
</script>
</body>
</html>