<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="content-Type" charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>
<audio controls autoplay id="player"></audio>
<p>玩具设备ID<input type="text" id="device_key">
    <button onclick="open_toy()">开机</button>
</p>
<p>
    消息来自<span id="from_user"></span>用户<span id="user_type"></span>
</p>
<p>
    <button onclick="start_reco()" style="background-color: red">录制消息</button>
    <button onclick="send_ai()" style="background-color: skyblue">AI对话</button>
    <button onclick="stop_reco()" style="background-color: green">发送消息</button>

</p>
<p>
    <button onclick="recv_msg()" style="background-color: yellow">收取消息</button>
</p>

</body>
<script type="application/javascript" src="/static/jquery-3.3.1.min.js"></script>
<script type="application/javascript" src="/static/uuid.js"></script>
<script type="application/javascript" src="/static/Recorder.js"></script>
<script type="application/javascript">
    var ws = null;
    var toy_id = null;
    var serv = "http://192.168.12.24:9527";
    var serv_ws = "ws://192.168.12.24:9528/toy/";
    var serv_voice = serv + "/get_voice/";
    var serv_chat = serv + "/get_chat/";
    var serv_music = serv + "/get_audio/";
    function open_toy() {
        var device_key = document.getElementById("device_key").value;
        $.post(
            serv + "/toy_login",
            {device_key:device_key},
            function(data){
                console.log(data); // {"music":".mp3","msg_type":"voices"}
                if(data.msg_type == "voices"){
                    document.getElementById("player").src = serv_voice + data.music;
                }
                if(data.toy_id){
                    toy_id = data.toy_id;
                    ws = new WebSocket(serv_ws + data.toy_id);
                    ws.onmessage = function (data) {
                        var msg = JSON.parse(data.data);
                        if(msg.music){
                            document.getElementById("player").src = serv_music + msg.music;
                        }else{
                            document.getElementById("player").src = serv_chat + msg.chat;
                            document.getElementById("from_user").innerText = msg.from_user;
                            document.getElementById("user_type").innerText = msg.user_type;
                        }


                    };
                }
            },"json"
        )

    }


    var reco = null;

    var audio_context = new AudioContext();
    navigator.getUserMedia = (navigator.getUserMedia ||
        navigator.webkitGetUserMedia ||
        navigator.mozGetUserMedia ||
        navigator.msGetUserMedia);

    navigator.getUserMedia({audio: true}, create_stream, function (err) {
        console.log(err)
    });

    function create_stream(user_media) {
        var stream_input = audio_context.createMediaStreamSource(user_media);
        reco = new Recorder(stream_input);
    }

    function start_reco() {
        reco.record();
    }

    function stop_reco() {
        reco.stop();
        get_audio();
        reco.clear();
    }

    function get_audio() {
        reco.exportWAV(function (wav_file) {
            var formdata = new FormData();
            formdata.append("record", wav_file);
            formdata.append("file_name", uuid4()+".wav");
            formdata.append("to_user",document.getElementById("from_user").innerText);
            formdata.append("from_user",toy_id);

            $.ajax({
                url: serv + "/toy_uploader",
                type: 'post',
                processData: false,
                contentType: false,
                data: formdata,
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    send_str = {
                        to_user:document.getElementById("from_user").innerText,
                        from_user:toy_id,
                        chat:data.file,
                        user_type:document.getElementById("user_type").innerText,
                    };
                    ws.send(JSON.stringify(send_str));

                }
            });

        })
    }


    function send_ai() {
        reco.stop();
        send_msg_ai();
        reco.clear();
    }

    function send_msg_ai() {
        reco.exportWAV(function (wav_file) {
            var formdata = new FormData();
            formdata.append("record", wav_file);
            formdata.append("file_name", uuid4()+".wav");
            formdata.append("toy_id",toy_id);

            $.ajax({
                url: serv + "/toy_ai",
                type: 'post',
                processData: false,
                contentType: false,
                data: formdata,
                dataType: 'json',
                success: function (data) {
                    if(data.chat){
                        document.getElementById("player").src = serv_chat + data.chat;
                        document.getElementById("from_user").innerText = data.from_user;
                        document.getElementById("user_type").innerText = data.user_type;
                    }else{
                        document.getElementById("player").src = serv_music + data.music;
                    }
                }
            });

        })
    }

    function recv_msg() {
        var player = document.getElementById("player");
        $.post(
            serv + "/recv_chat",
            {"toy_id":toy_id,"user_id":document.getElementById("from_user").innerText},
            function(data){ // content-type : application/json
                console.log(data);
                var chat = data.pop();

                player.src = serv_chat + chat.content;

                player.onended = function(){
                    if(data.length == 0){
                        return
                    }
                    chat = data.pop();
                    player.src = serv_chat + chat.content;
                }
            }
        )
    }

</script>
</html>