<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Title</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body>
<script src='//player.polyv.net/script/polyvplayer.min.js'></script>
<div id='plv_03b56854c0e149a81c1d6258be4d64c2_0'></div>
<script>
var player = polyvObject('#plv_03b56854c0e149a81c1d6258be4d64c2_0').videoPlayer({
    'width':'600',
  'height':'338',
    'vid' : '03b56854c0e149a81c1d6258be4d64c2_0' ,
 'forceH5':true ,
 'playsafe': ''
 //取值参考文档：http://dev.polyv.net/?p=7377
});
</script>
</body>
</html>